$color-primary: #22c55e;

::ng-deep {
    .manage-user-container {
        .disabled-container {
            pointer-events: none;
            /* Blocks all mouse events, clicks, and selections */
            opacity: 0.5;
            /* Visually dims the container */
            user-select: none;
            /* Prevents selecting text */
        }
    }
}