<div class="manage-user-container">
    <div class="table-clear-filter">
        <p-button class="p-button-outlined" styleClass="btn-main-outlined" label="Clear" icon="pi pi-filter-slash"
            (onClick)="clear()"></p-button>
    </div>
    <div style="overflow-x: auto;">
        <p-table #dt [value]="accessRequests" [autoLayout]="false" [paginator]="true" [rows]="10" [(selection)]="selectedAccessRequestDetails" 
        (selectionChange)="onSelectionChange()" [style]="{ minWidth: '2100px' }" [scrollable]="true" styleClass="p-datatable-sm"
            [rowsPerPageOptions]="[10, 20, 50, 100]" paginatorPosition="top" [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">

            <ng-template pTemplate="header">
                <tr class="border-bottom">
                    <th style="width: 3%">
                        <!-- Header checkbox for selecting/deselecting all items -->
                        <p-tableHeaderCheckbox>  id="chk-header-all"
                        [value]="accessRequests" </p-tableHeaderCheckbox>
                    </th>
                    <th class="text-start text-muted fw-medium" style="width: 5%;">
                        <div class="d-flex align-items-center gap-2">
                            <div class="d-flex align-items-center gap-2">
                                S.No
                            </div>
                        </div>
                    </th>
                    <th class="text-start text-muted fw-medium" style="width: 15%;">
                        <div class="d-flex align-items-center gap-2">
                            <div class="d-flex align-items-center gap-2" pSortableColumn="FullName">
                                FullName
                                <p-sortIcon field="FullName"></p-sortIcon>
                            </div>
                            <span class="pi" [ngClass]="selectedUserNameList.length > 0 ? 'pi-filter-fill' : 'pi-filter'"
                                (click)="showFilter()"></span>
                        </div>
                    </th>
                    <th class="text-start text-muted fw-medium" style="width: 10%;">
                        <div class="d-flex align-items-center gap-2">
                            <div class="d-flex align-items-center gap-2" pSortableColumn="RoleName">
                                RoleName
                                <p-sortIcon field="RoleName"></p-sortIcon>
                            </div>
                            <span class="pi" [ngClass]="selectedUserNameList.length > 0 ? 'pi-filter-fill' : 'pi-filter'"
                                (click)="showFilter()"></span>
                        </div>
                    </th>                
                    <th class="text-start text-muted fw-medium" style="width: 10%;">
                        <div class="d-flex align-items-center gap-2">
                            <div class="d-flex align-items-center gap-2" pSortableColumn="MobileNo">
                                MobileNo
                                <p-sortIcon field="MobileNo"></p-sortIcon>
                            </div>
                            <span class="pi" [ngClass]="selectedUserNameList.length > 0 ? 'pi-filter-fill' : 'pi-filter'"
                                (click)="showFilter()"></span>
                        </div>
                    </th>
                    <th class="text-start text-muted fw-medium" style="width: 20%;">
                        <div class="d-flex align-items-center gap-2">
                            <div class="d-flex align-items-center gap-2" pSortableColumn="MailId">
                                MailId
                                <p-sortIcon field="MailId"></p-sortIcon>
                            </div>
                            <span class="pi" [ngClass]="selectedUserNameList.length > 0 ? 'pi-filter-fill' : 'pi-filter'"
                                (click)="showFilter()"></span>
                        </div>
                    </th>               
                    <th class="text-start text-muted fw-medium" style="width: 7%;">
                        <div class="d-flex align-items-center gap-2">
                            <div class="d-flex align-items-center gap-2" pSortableColumn="IsActive">
                                Status
                                <p-sortIcon field="IsActive"></p-sortIcon>
                            </div>
                            <span class="pi" [ngClass]="selectedStatusList.length > 0 ? 'pi-filter-fill' : 'pi-filter'"
                                (click)="showFilter()"></span>
                        </div>
                    </th>  
                    <th class="text-start text-muted fw-medium" style="width: 10%;">
                        <div class="d-flex align-items-center gap-2">
                            <div class="d-flex align-items-center gap-2">
                                Requested Date
                            </div>
                        </div>
                    </th>          
                    <th class="text-start text-muted fw-medium" style="width: 10%;"> 
                        <div class="d-flex align-items-center justify-content-center" [class.disabled-container] = "selectedIds.length == 0 ">
                            <span class="pi pi-check-circle" (click)="approveAccess()"   pTooltip="Approve Selected Access Request"></span>
                            &nbsp; &nbsp; &nbsp; &nbsp;
                            <span class="pi pi-times-circle" (click)="rejectAccess()"  pTooltip="Reject Selected Access Request"></span>
                        </div></th>
                </tr>
                @if (showFt) {
                <tr>
                    <th></th>
                    <th></th>
                    <th>
                        <p-columnFilter field="FullName" matchMode="in" [showMenu]="false" [showClearButton]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-multiSelect [options]="userNameList" [(ngModel)]="selectedUserNameList"
                                    (onChange)="filter($event.value)" selectedItemsLabel="{0} items selected"
                                    [resetFilterOnHide]="true" optionLabel="label" optionValue="value" appendTo="body"
                                    placeholder="All">
                                </p-multiSelect>
                            </ng-template>
                        </p-columnFilter>
                    </th>
                    <th><p-columnFilter field="RoleName" matchMode="in" [showMenu]="false" [showClearButton]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-multiSelect [options]="roleList" [(ngModel)]="selectedRoleList"
                                    (onChange)="filter($event.value)" selectedItemsLabel="{0} items selected"
                                    [resetFilterOnHide]="true" optionLabel="label" optionValue="value" appendTo="body"
                                    placeholder="All">
                                </p-multiSelect>
                            </ng-template>
                        </p-columnFilter></th>               
                    <th>
                        <p-columnFilter field="MobileNo" matchMode="in" [showMenu]="false" [showClearButton]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-multiSelect [options]="mobileNoList" [(ngModel)]="selectedMobileNoList"
                                    (onChange)="filter($event.value)" selectedItemsLabel="{0} items selected"
                                    [resetFilterOnHide]="true" optionLabel="label" optionValue="value" appendTo="body"
                                    placeholder="All">
                                </p-multiSelect>
                            </ng-template>
                        </p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter field="MailId" matchMode="in" [showMenu]="false" [showClearButton]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-multiSelect [options]="mailIdList" [(ngModel)]="selectedMailIdList"
                                    (onChange)="filter($event.value)" selectedItemsLabel="{0} items selected"
                                    [resetFilterOnHide]="true" optionLabel="label" optionValue="value" appendTo="body"
                                    placeholder="All">
                                </p-multiSelect>
                            </ng-template>
                        </p-columnFilter>
                    </th>                
                    <th>
                        <p-columnFilter field="IsActive" matchMode="in" [showMenu]="false" [showClearButton]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-multiSelect [options]="statusList" [(ngModel)]="selectedStatusList"
                                    (onChange)="filter($event.value)" selectedItemsLabel="{0} items selected"
                                    [resetFilterOnHide]="true" optionLabel="label" optionValue="value" appendTo="body"
                                    placeholder="All">
                                </p-multiSelect>
                            </ng-template>
                        </p-columnFilter>
                    </th>
                    <th></th>
                    <th></th>               
                </tr>
                }
            </ng-template>

            <ng-template pTemplate="body" let-user let-index="rowIndex">
                <tr class="border-bottom">
                    <td><p-tableCheckbox [index]="index" [value]="user"
                        id="chk-row-{{user.UserId}}" /></td>
                    <td>{{ index + 1 }}</td>
                    <td>{{ user.FullName }}</td>
                    <td>{{ user.RoleName }}</td>                
                    <td>{{ user.MobileNo }}</td>
                    <td>{{ user.MailId }}</td>                
                    <td>
                        <p-tag [value]="user.Status"
                            [severity]="getStatusSeverity(user.Status)"></p-tag>
                    </td> 
                    <td>{{ user.CreatedDate | date:'MM/dd/yyyy HH:mm:ss' }}</td>                    
                    <td>
                        <div class="d-flex align-items-center gap-2">
                            <button pButton icon="pi pi-check" style="color: green" (click)="approveAccess(user)"
                                class="p-button-rounded p-button-text p-button-sm btn-icon" pTooltip="Approve Access"></button>
                            <button pButton icon="pi pi-times" (click)="rejectAccess(user)"
                                class="p-button-rounded p-button-text p-button-danger p-button-sm btn-icon" pTooltip="Reject Access"></button>
                        </div>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="9" class="text-center">
                        No pending Access request found.
                    </td>
                </tr>
            </ng-template>
        </p-table>  
    </div>   
</div>