/* Help component styles */

.expanded-answer {
  display: block !important;
}

.faq-arrow {
  transition: transform 0.2s ease;
  display: inline-block;
  
  &.expanded {
    transform: rotate(180deg);
  }
}

.btn-link {
  &:hover,
  &:focus {
    color: inherit;
  }
}
