<div class="manage-language-container">
    <div class="table-clear-filter">
        <p-button class="p-button-outlined" styleClass="btn-main-outlined" label="Clear" icon="pi pi-filter-slash"
            (onClick)="clear()"></p-button>
    </div>
    <p-table [value]="languages" [autoLayout]="false" [paginator]="true" [rows]="10"
        [rowsPerPageOptions]="[10, 20, 50, 100]" paginatorPosition="top" [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">

        <ng-template pTemplate="header">
            <tr class="border-bottom">
                <th class="text-start text-muted fw-medium" style="width: 10%;">
                    <div class="d-flex align-items-center gap-2">
                        <div class="d-flex align-items-center gap-2">
                            S.No
                        </div>
                    </div>
                </th>
                <th class="text-start text-muted fw-medium">
                    <div class="d-flex align-items-center gap-2">
                        <div class="d-flex align-items-center gap-2" pSortableColumn="LanguageName">
                            Language
                            <p-sortIcon field="LanguageName"></p-sortIcon>
                        </div>
                        <span class="pi"
                            [ngClass]="selectedLanguageNameList.length > 0 ? 'pi-filter-fill' : 'pi-filter'"
                            (click)="showFilter()"></span>
                    </div>
                </th>
                <th class="text-start text-muted fw-medium" style="width: 40%;">
                    <div class="d-flex align-items-center gap-2">
                        <div class="d-flex align-items-center gap-2" pSortableColumn="IsActive">
                            Status
                            <p-sortIcon field="IsActive"></p-sortIcon>
                        </div>
                        <span class="pi" [ngClass]="selectedStatusList.length > 0 ? 'pi-filter-fill' : 'pi-filter'"
                            (click)="showFilter()"></span>
                    </div>
                </th>
                <th class="text-start text-muted fw-medium" style="width: 10%;">
                    <div class="d-flex align-items-center justify-content-center">
                        <span class="pi pi-plus-circle" (click)="editLanguage()"></span>
                    </div>
                </th>
            </tr>
            @if (showFt) {
            <tr>
                <th></th>
                <th>
                    <p-columnFilter field="LanguageName" matchMode="in" [showMenu]="false" [showClearButton]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-multiSelect [options]="languageNameList" [(ngModel)]="selectedLanguageNameList"
                                (onChange)="filter($event.value)" selectedItemsLabel="{0} items selected"
                                [resetFilterOnHide]="true" optionLabel="label" optionValue="value" appendTo="body"
                                placeholder="All">
                            </p-multiSelect>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th>
                    <p-columnFilter field="IsActive" matchMode="in" [showMenu]="false" [showClearButton]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-multiSelect [options]="statusList" [(ngModel)]="selectedStatusList"
                                (onChange)="filter($event.value)" selectedItemsLabel="{0} items selected"
                                [resetFilterOnHide]="true" optionLabel="label" optionValue="value" appendTo="body"
                                placeholder="All">
                            </p-multiSelect>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th></th>
            </tr>
            }
        </ng-template>

        <ng-template pTemplate="body" let-language let-index="rowIndex">
            <tr class="border-bottom">
                <td>{{ index + 1 }}</td>
                <td>
                    <span [pTooltip]="language.LanguageName">
                        {{ language.LanguageName }}
                    </span>
                </td>
                <td>
                    <p-tag [value]="language.IsActive ? 'Active' : 'In-active'"
                        [severity]="getStatusSeverity(language.IsActive)"></p-tag>
                </td>
                <td>
                    <div class="d-flex align-items-center justify-content-center gap-2">
                        <button pButton icon="pi pi-pencil" (click)="editLanguage(language)"
                            class="p-button-rounded p-button-text p-button-sm"></button>
                        <button pButton icon="pi pi-trash" (click)="deleteLanguage(language)"
                            class="p-button-rounded p-button-text p-button-danger p-button-sm"></button>
                    </div>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="4" class="text-center">
                    No languages found.
                </td>
            </tr>
        </ng-template>
    </p-table>

    <p-dialog [header]="header" [(visible)]="languageDialogVisible" [modal]="true" [style]="{ width: '60vw' }">
        <div class="row">
            <div class="col-6">
                <label class="d-block small fw-medium text-secondary mb-1" for="languageName">
                    Language<sup>*</sup>
                </label>
                <input id="languageName" type="text" class="form-control" pInputText
                    [(ngModel)]="currentLanguage.LanguageName" [ngModelOptions]="{standalone: true}"
                    placeholder="Enter language" (ngModelChange)="validateInput('LanguageName')" />
                <div *ngIf="errors.LanguageName" class="text-danger mt-1 small">{{ errors.LanguageName }}</div>
            </div>
            <div class="col-6">
                <label class="d-block small fw-medium text-secondary mb-1" for="isActive">
                    Status<sup>*</sup>
                </label>
                <p-select id="isActive" [(ngModel)]="currentLanguage.IsActive" [ngModelOptions]="{standalone: true}"
                    [options]="options" optionLabel="label" optionValue="value" placeholder="Select Status"
                    styleClass="w-100" appendTo="body" (ngModelChange)="validateInput('IsActive')" />
                <div *ngIf="errors.IsActive" class="text-danger mt-1 small">{{ errors.IsActive }}</div>
            </div>
        </div>
        <ng-template pTemplate="footer">
            <div class="d-flex justify-content-end align-items-center gap-3">
                <p-button type="button" label="Cancel" [style]="{ width: '6rem' }" class="p-button-outlined"
                    styleClass="btn-main-outlined" (click)="languageDialogVisible = false"></p-button>
                <p-button type="button" label="Save" [style]="{ width: '6rem' }" styleClass="btn-main"
                    (click)="saveLanguage()"></p-button>
            </div>
        </ng-template>
    </p-dialog>
</div>