<div class="books-container d-flex flex-column gap-4">
    <div class="card border-0 shadow-sm rounded p-3 card-container">
        <!-- Header -->
        <div class="d-flex align-items-center justify-content-between mb-4">
            <div>
                <h2 class="fs-4 fw-semibold mb-1">Books</h2>
                <p class="small text-muted mb-0">Manage books</p>
            </div>
            <div class="position-relative">
                <span class="pi pi-search search-icon position-absolute text-muted"></span>
                <input pInputText type="text" placeholder="Search book" [(ngModel)]="searchTerm"
                    (input)="onSearch(searchTerm)" class="form-control ps-5" />
            </div>
        </div>

        <!-- Filter Tabs -->
        <p-tabView [(activeIndex)]="activeTab" class="books-tabs">
            <!-- <p-tabPanel [header]="'Overdue - ' + totalBooks()">
                <app-books-overdue *ngIf="activeTab === 0" [totalBooks]="totalBooks()" [books]="filteredBooks()">
                </app-books-overdue>
            </p-tabPanel> -->

            <p-tabPanel header="Manage Books">
                <app-books-manage-books *ngIf="activeTab === 0"></app-books-manage-books>
            </p-tabPanel>

            <p-tabPanel header="Manage Author">
                <app-books-manage-author *ngIf="activeTab === 1"></app-books-manage-author>
            </p-tabPanel>

            <p-tabPanel header="Manage Publisher">
                <app-books-manage-publisher *ngIf="activeTab === 2"></app-books-manage-publisher>
            </p-tabPanel>

            <p-tabPanel header="Manage Category">
                <app-books-manage-category *ngIf="activeTab === 3"></app-books-manage-category>
            </p-tabPanel>

            <p-tabPanel header="Manage Language">
                <app-books-manage-language *ngIf="activeTab === 4"></app-books-manage-language>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>