@media print {
  /* Hide headers, footers, buttons, and side navs */
  body * {
    visibility: hidden;
  }
  /* Show only the specific table container and its child components */
  #printArea, #printArea * {
    visibility: visible;
  }
  #printArea {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}

.search-icon {
    left: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
}