<div class="manage-transactionType-container">
    <div class="table-clear-filter">
        <p-button class="p-button-outlined" styleClass="btn-main-outlined" label="Clear" icon="pi pi-filter-slash"
            (onClick)="clear()"></p-button>
    </div>
    <p-table #dt [value]="transactionTypes" [autoLayout]="false" [paginator]="true" [rows]="10"
        [rowsPerPageOptions]="[10, 20, 50, 100]" paginatorPosition="top" [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">

        <ng-template pTemplate="header">
            <tr class="border-bottom">
                <th class="text-start text-muted fw-medium" style="width: 25%;">
                    <div class="d-flex align-items-center gap-2">
                        <div class="d-flex align-items-center gap-2">
                            S.No
                        </div>
                    </div>
                </th>
                <th class="text-start text-muted fw-medium">
                    <div class="d-flex align-items-center gap-2">
                        <div class="d-flex align-items-center gap-2" pSortableColumn="TypeName">
                            TypeName
                            <p-sortIcon field="TypeName"></p-sortIcon>
                        </div>
                        <span class="pi" [ngClass]="selectedTransactionTypeNameList.length > 0 ? 'pi-filter-fill' : 'pi-filter'"
                            (click)="showFilter()"></span>
                    </div>
                </th>
                <th class="text-start text-muted fw-medium" style="width: 25%;">
                    <div class="d-flex align-items-center gap-2">
                        <div class="d-flex align-items-center gap-2" pSortableColumn="IsActive">
                            Status
                            <p-sortIcon field="IsActive"></p-sortIcon>
                        </div>
                        <span class="pi" [ngClass]="selectedStatusList.length > 0 ? 'pi-filter-fill' : 'pi-filter'"
                            (click)="showFilter()"></span>
                    </div>
                </th>
                 <th class="text-start text-muted fw-medium" style="width: 20%;">
                    <div class="d-flex align-items-center justify-content-center">
                        <span class="pi pi-plus-circle" (click)="editTransactionType()" pTooltip="Add Transaction Type"></span>
                    </div>
                </th>
            </tr>
            @if (showFt) {
            <tr>
                <th></th>
                <th>
                    <p-columnFilter field="TypeName" matchMode="in" [showMenu]="false" [showClearButton]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-multiSelect [options]="transactionTypeNameList" [(ngModel)]="selectedTransactionTypeNameList"
                                (onChange)="filter($event.value)" selectedItemsLabel="{0} items selected"
                                [resetFilterOnHide]="true" optionLabel="label" optionValue="value" appendTo="body"
                                placeholder="All">
                            </p-multiSelect>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th>
                    <p-columnFilter field="IsActive" matchMode="in" [showMenu]="false" [showClearButton]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-multiSelect [options]="statusList" [(ngModel)]="selectedStatusList"
                                (onChange)="filter($event.value)" selectedItemsLabel="{0} items selected"
                                [resetFilterOnHide]="true" optionLabel="label" optionValue="value" appendTo="body"
                                placeholder="All">
                            </p-multiSelect>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th></th>
            </tr>
            }
        </ng-template>

        <ng-template pTemplate="body" let-transactionType let-index="rowIndex">
            <tr class="border-bottom">
                <td>{{ index + 1 }}</td>
                <td>{{ transactionType.TypeName }}</td>
                <td>
                    <p-tag [value]="transactionType.IsActive ? 'Active' : 'In-Active'"
                        [severity]="getStatusSeverity(transactionType.IsActive)"></p-tag>
                </td>
                <td>
                    <div class="d-flex align-items-center gap-2 justify-content-center">
                        <button pButton icon="pi pi-pencil" (click)="editTransactionType(transactionType)"
                            class="p-button-rounded p-button-text p-button-sm btn-icon" pTooltip="Edit Transaction Type"></button>
                        <button pButton icon="pi pi-trash" (click)="deleteTransactionType(transactionType)"
                            class="p-button-rounded p-button-text p-button-danger p-button-sm btn-icon" pTooltip="Delete Transaction Type"></button>
                    </div>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="4" class="text-center">
                    No TransactionTypes found.
                </td>
            </tr>
        </ng-template>
    </p-table>
     <p-dialog [header]="header" [(visible)]="transactionTypeDialogVisible" [modal]="true" [style]="{ width: '60vw' }" appendTo="body">
        <div class="row">
            <div class="col-6">
                <label class="d-block small fw-medium text-secondary mb-1" for="typeName">
                    Type Name<sup>*</sup>
                </label>
                <input id="transactionTypeName" type="text" class="form-control" pInputText
                    [(ngModel)]="currentTransactionType.TypeName" [ngModelOptions]="{standalone: true}"
                    placeholder="Enter Type Name" (ngModelChange)="validateInput('TypeName')" />
                <div *ngIf="errors.TypeName" class="text-danger mt-1 small">{{ errors.TypeName }}</div>
            </div>
            <div class="col-6">
                <label class="d-block small fw-medium text-secondary mb-1" for="isActive">
                    Status<sup>*</sup>
                </label>
                <p-select id="isActive" [(ngModel)]="currentTransactionType.IsActive" [ngModelOptions]="{standalone: true}"
                    [options]="options" optionLabel="label" optionValue="value" placeholder="Select Status" [disabled] = "currentTransactionType.TypeId == 0"
                    styleClass="w-100" appendTo="body" (ngModelChange)="validateInput('IsActive')" />
                <div *ngIf="errors.IsActive" class="text-danger mt-1 small">{{ errors.IsActive }}</div>
            </div>
        </div>
        <ng-template pTemplate="footer">
            <div class="d-flex justify-content-end align-items-center gap-3">
                <p-button type="button" label="Cancel" [style]="{ width: '6rem' }" class="p-button-outlined"
                    styleClass="btn-main-outlined" (click)="transactionTypeDialogVisible = false"></p-button>
                <p-button type="button" label="Save" [style]="{ width: '6rem' }" styleClass="btn-main"
                    (click)="saveTransactionType()"></p-button>
            </div>
        </ng-template>
    </p-dialog>
</div>