$color-primary: #22c55e;

::ng-deep {
    .barcode-label {
        font-family: 'Courier New', Courier, monospace;
        font-size: 14px;
        font-weight: bold;
        margin-top: 6px;
        color: #000000;
    }
}