<div class="login-wrapper min-vh-100 d-flex">
    <!-- Left Half - Logo Display -->
    <div class="logo-section d-flex align-items-center justify-content-center">
        <div class="logo-display text-center">
            <img src="assets/images/logo.png" alt="School Logo" class="school-logo mb-5">
            <h1 class="fs-1 fw-bold text-white mb-3">{{ authService.organizationDetails()?.OrganizationName }}</h1>
            <p class="text-white-50 fs-5">Library Management</p>
        </div>
    </div>

    <!-- Right Half - Logo Display -->
    <div class="form-section">
        <router-outlet></router-outlet>
    </div>
</div>