<div class="books-container d-flex flex-column gap-4">
    <div class="card border-0 shadow-sm rounded p-3 card-container">
        <!-- Header -->
        <div class="d-flex align-items-center justify-content-between mb-4">
            <div>
                <h2 class="fs-4 fw-semibold mb-1">Transaction</h2>
                <p class="small text-muted mb-0">Books transaction</p>
            </div>
            <div class="position-relative">
                <span class="pi pi-search search-icon position-absolute text-muted"></span>
                <input pInputText type="text" placeholder="Search book" [(ngModel)]="searchTerm"
                    (input)="onSearch(searchTerm)" class="form-control ps-5" />
            </div>
        </div>

        <!-- Filter Tabs -->
        <p-tabView [(activeIndex)]="activeTab" class="books-tabs">           
            <p-tabPanel [header]="'Manage Overdue Books - ' + overDueCount">
                <app-books-overdue *ngIf="activeTab === 0" [totalOverDueCount]="overDueCount"
                    [totalOverDues]="overDues">
                </app-books-overdue>
            </p-tabPanel>
            <p-tabPanel header="Manage Issued Books">
                <app-manage-issued-books *ngIf="activeTab === 1"></app-manage-issued-books>
            </p-tabPanel>
            <p-tabPanel header="Manage Returned Books">
                <app-manage-returned-books *ngIf="activeTab === 2"></app-manage-returned-books>
            </p-tabPanel>
             <p-tabPanel header="Manage Book Circulation">
                <app-manage-book-circulation *ngIf="activeTab === 3"></app-manage-book-circulation>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>