$color-primary-dark: #16a34a;

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    opacity: 0.9;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;

    .loading-text {
        color: $color-primary-dark;
        font-size: 1rem;
        font-weight: bold;
    }
}